/* Font H1, WISH, SPAN */
@font-face {
  font-family: Happy;
  src: url("../font/happyBirthday.ttf");
}

.carousel-caption h1 {
  font-size: 15rem;
  padding-bottom: 12rem;
  font-family: Happy;
}

#wishes h2 {
  font-size: 5rem;
}

#wishes span {
  font-style: italic;
}
/* END Font H1, WISH, SPAN */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1b1f;
  font-family: "Urbanist", sans-serif;
  color: #f6f6f6;
  overflow-x: hidden;
}

::selection {
  background-color: #f6f6f6;
  color: black;
}

/*navbar*/
.navbar {
  padding-top: 10px;
  background-color: rgb(156, 155, 155);
}

.navbar .nav {
  background-color: rgba(35, 35, 36, 0.1);
  font-weight: 300;
  height: 50px;
  width: 380px;
  border-radius: 20px;
  box-shadow: inset 1px 1px 3px rgba(28, 27, 31, 0.6),
    2px 2px 5px rgba(32, 32, 32, 0.8);
  backdrop-filter: blur(5px);

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.navbar .nav a {
  color: #f6f6f6;
  opacity: 0.5;
  transition: 0.3s;
}

.navbar .nav:hover a {
  opacity: 1;
}

.navbar .nav a:hover {
  color: #062b7c;
  opacity: 1;
  text-shadow: 0 0 30px #dddddd, 0 -1px 1px rgba(246, 246, 246, 0.2);
}

/* Garis Bawah Hover
.navbar .nav a:hover {
  color: #062b7c;
}

.navbar .nav a:hover {
  color: #062b7c;
}*/
.navbar .nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: #062b7c;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .nav a:active {
  color: #f6f6f6;
}

.nav .nav-item:nth-child(4) {
  display: none;
}

.hero .container {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
/* Navbar End */

/* Carousel */
.carousel {
  margin-bottom: 4rem;
}

.carousel img {
  filter: brightness(50%);
}

.carousel-item {
  height: 40rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* End Carousel */

/* Pict*/

.pict {
  padding-top: 3rem;
  background-color: #f6f6f6;
  min-height: 100vh;
  display: grid;
  align-items: center;
  position: relative;
}

.pict .card-container {
  display: grid;
  justify-content: center;
  padding: 0;
}

.pict .card,
.pict .gradasi,
.pict .card img {
  height: 360px;
  width: 260px;
}

.pict .card {
  background-color: #f6f6f6;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.pict .gradasi {
  position: absolute;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0;
  transition: 0.4s;
}

.pict .card:hover .gradasi {
  opacity: 1;
}

.pict .card figcaption {
  color: #f6f6f6;
  font-size: 1.4rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  transform: translate(0, -55px);
  font-family: "Poppins", sans-serif;
}

.pict .card,
.pict .card img,
.pict .card figcaption {
  transition: 0.4s;
}

.pict .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: scale(1.03);
}

.pict .card:hover img {
  transform: scale(1.1);
  filter: brightness(0.8) grayscale(0.2);
}

.pict .card:hover figcaption {
  transform: translate(0, -120px);
  font-size: 2rem;
}

.pict {
  overflow: hidden;
}

.pict .tdatang,
.pict .tpergi {
  padding-bottom: 5px;
  position: absolute;
  z-index: 0;
  font-size: 27vw;
  font-weight: 900;
  color: #1c1b1f;
  filter: blur(1.8px);
  opacity: 0.7;
  left: 0;
  right: 0;
  margin: 4rem auto 0;
  text-align: center;
}

.pict .tdatang {
  transform: translateX(-100vw) scaleY(1.2);
}

.pict .tpergi {
  transform: translateX(100vw) scaleY(1.2);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.2s 0.4s ease;
}

.card-container {
  position: relative;
  z-index: 10;
}

.pict .card-container.satu:hover ~ .tdatang.satu,
.pict .card-container.dua:hover ~ .tdatang.dua,
.pict .card-container.tiga:hover ~ .tdatang.tiga {
  transform: translateX(0vw) scaleY(1.2);
  transition: transform 0.4s ease;
}

.pict .card-container.satu:hover ~ .tpergi.satu,
.pict .card-container.dua:hover ~ .tpergi.dua,
.pict .card-container.tiga:hover ~ .tpergi.tiga {
  transform: translateX(0vw) scaleY(1.2);
  opacity: 0.8;
}

.education .hidden-pict-2 {
  opacity: 0;
  filter: blur(5px);
  transform: translate(-100%);
  transition: all 2s;
}

.pict .card-container:nth-child(3) {
  transition-delay: 200ms;
}

.pict .card-container:nth-child(2) {
  transition-delay: 400ms;
}

.pict .card-container:nth-child(1) {
  transition-delay: 600ms;
}

/* End Pict */

/* Porto*/
.featurette-divider {
  margin: 2rem 0;
}
/*End Porto*/

/** Responsive */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 97%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 90.5%;
  }
}

/** HandPhone */
@media screen and (max-width: 576px) {
  html {
    font-size: 88.5%;
  }
  .navbar .nav {
    background-color: rgba(35, 35, 36, 0.1);
    font-weight: 300;
    border-bottom: 1px solid #513c28;
    height: 50px;
    width: 300px;
    border-radius: 20px;
    box-shadow: inset 1px 1px 3px rgba(28, 27, 31, 0.6),
      2px 2px 5px rgba(32, 32, 32, 0.8);
    backdrop-filter: blur(5px);
  }

  .navbar .nav-link {
    padding: 4px 12px;
  }
  .navbar .nav a {
    font-size: 14px;
  }

  .navbar .nav a:active {
    color: #f6f6f6;
  }

  .navbar .nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: #062b7c;
    transform: scaleX(0);
    transition: 0.2s linear;
  }

  .navbar .nav a:hover {
    color: #062b7c;
    opacity: 1;
    text-shadow: 0 0 30px #dddddd, 0 -1px 1px rgba(246, 246, 246, 0.2);
  }

  .container h2 {
    padding-top: 3rem;
  }

  .carousel,
  .carousel-item {
    height: 340px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: auto;
  }

  .carousel-item img {
    height: 340px;
  }

  .carousel-caption h1 {
    font-size: 6rem;
    padding-bottom: 4rem;
    font-family: Happy;
  }
  .carousel-inner {
    height: 576px;
    width: 800px;
  }
}
