html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1b1f;
  font-family: "Urbanist", sans-serif;
  color: #f6f6f6;
  overflow-x: hidden;
}

::selection {
  background-color: #f6f6f6;
  color: black;
}

/*navbar*/
.navbar {
  padding: 0px;
  background-color: black;
}

.navbar .nav {
  background-color: rgba(35, 35, 36, 0.1);
  font-weight: 300;
  height: 50px;
  width: 380px;
  border-radius: 20px;
  box-shadow: inset 1px 1px 3px rgba(28, 27, 31, 0.6),
    2px 2px 5px rgba(32, 32, 32, 0.8);
  backdrop-filter: blur(5px);

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.navbar .nav a {
  color: #f6f6f6;
  opacity: 0.5;
  transition: 0.3s;
}

.navbar .nav:hover a {
  opacity: 1;
}

.navbar .nav a:hover {
  color: #062b7c;
  opacity: 1;
  text-shadow: 0 0 30px #dddddd, 0 -1px 1px rgba(246, 246, 246, 0.2);
}

/* Garis Bawah Hover
.navbar .nav a:hover {
  color: #062b7c;
}

.navbar .nav a:hover {
  color: #062b7c;
}
.navbar .nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: #062b7c;
  transform: scaleX(0);
  transition: 0.2s linear;
}*/

.navbar .nav a:active {
  color: #f6f6f6;
}

.nav .nav-item:nth-child(4) {
  display: none;
}

.hero .container {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
/* Navbar End */

/** Responsive */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 97%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 90.5%;
  }
}

/** HandPhone */
@media screen and (max-width: 576px) {
  html {
    font-size: 80.5%;
  }
  .navbar .nav {
    background-color: rgba(35, 35, 36, 0.1);
    font-weight: 300;
    /*border-bottom: 1px solid #513c28;*/
    height: 50px;
    width: 380px;
    border-radius: 20px;
    box-shadow: inset 1px 1px 3px rgba(28, 27, 31, 0.6),
      2px 2px 5px rgba(32, 32, 32, 0.8);
    backdrop-filter: blur(5px);
  }

  .navbar .nav-link {
    padding: 4px 12px;
  }
  .navbar .nav a {
    font-size: 14px;
  }

  .carousel,
  .carousel img,
  .carousel-item,
  .carousel slide {
    height: 250px;
    width: 500px;
  }
  .carousel-caption h1 {
    font-size: 1rem;
    padding-bottom: 6rem;
    padding: 10px;
  }
  .carousel-inner {
    height: 576px;
    width: 800px;
  }
}
